a {
    &,
    &:hover,
    &:active,
    &:focus,
    &:visited {
        text-decoration: underline;
    }

    &:hover {
        text-decoration: none;
    }
}

.container {
    max-width: 720px;
    padding: 0 1rem;
    margin: 0 auto;
}
